In [64]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### loading the data and creating the data variable

In [65]:
dataset = pd.read_csv('advertising_sales.csv')
dataset.head()

           YearAll    TV  Podcast  Youtube    Sales
0   1-January-2015  2301     3780     6920  68178.5
1   8-January-2015   445     3930     4510  32084.0
2  15-January-2015   172     4590     6930  28690.5
3  22-January-2015  1515     4130     5850  57072.5
4  29-January-2015  1808     1080     5840  39796.5

### creating dataset vars

In [66]:
X = dataset.iloc[:,1:4]
X.head()

     TV  Podcast  Youtube
0  2301     3780     6920
1   445     3930     4510
2   172     4590     6930
3  1515     4130     5850
4  1808     1080     5840

In [67]:
y = dataset['Sales']

In [68]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

### creating and fitting model for prediction

In [69]:
lin = LinearRegression()
lin.fit(X_train,y_train)
y_pred = lin.predict(X_test)

In [70]:
y_pred

array([26716.64514204, 58625.46691824, 51056.08726861, 46544.48772814,
       59390.21582437, 22346.24833815, 40094.10136187, 35176.05464723,
       46571.41836043, 42411.28332542, 29534.79107473, 42762.97250286,
       41738.70751988, 48212.46899847, 43209.00885759, 47128.03000367,
       33209.07218725, 48284.47908503, 45491.81853674, 38824.64752698,
       51086.04731638, 30258.48282159, 47363.14452642, 21975.27702874,
       41193.35728548, 41522.93703113, 46654.30581948, 50943.04225462,
       33438.53768989, 34644.74635832, 63209.10092973, 60262.60170826,
       37290.51500373, 65698.52005041, 39916.89941047, 36524.60837944,
       45826.72265144, 36826.19768992, 35946.84275519, 52625.33805729,
       48105.87001417, 46502.3477461 , 37421.59567569, 59404.75219919,
       32141.26626501, 44131.97974347, 45533.3719794 , 59858.69235373,
       51602.23701984, 63436.25473941, 32271.5484977 , 48058.91020285,
       54945.85478937, 36445.52329698, 63228.49757369, 59043.44851733,
       57973.19947892, 40518.70566338, 63249.24859868, 28682.21125606,
       41374.20943486, 47915.00342699, 40088.45972129, 28002.82926509,
       26637.61599296, 38867.52417474, 61500.64918856, 50681.75780887,
       52581.79404401, 54588.50217143, 35212.83603572, 57802.42544659,
       37507.75106872, 52233.22867543, 36555.27143299, 59560.11984324,
       55137.9119524 , 27712.82732061, 53693.06628542, 28867.94247999,
       68563.6409404 , 55008.7041089 , 37506.86224764, 49379.43432648,
       47303.3895774 , 23807.0700769 , 48813.52463151])

### Creating coefficients

In [71]:
coef = lin.coef_
components = pd.DataFrame(zip(X.columns,coef),columns=['component','value'])
components = components.append({'component':'intercept', 'value':lin.intercept_},ignore_index=True)

In [72]:
components

   component         value
0         TV      7.466617
1    Podcast      5.243625
2    Youtube      0.204090
3  intercept  20211.577745

### Estimations: For every unit or doller of TV investment we are expected to get 7 dollers 46 cents return as we go down to YouTube the return is low on every doller investment