In [64]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

### loading the data and creating the data variable

In [65]:
dataset = pd.read_csv('advertising_sales.csv')
dataset.head()

           YearAll    TV  Podcast  Youtube    Sales
0   1-January-2015  2301     3780     6920  68178.5
1   8-January-2015   445     3930     4510  32084.0
2  15-January-2015   172     4590     6930  28690.5
3  22-January-2015  1515     4130     5850  57072.5
4  29-January-2015  1808     1080     5840  39796.5

### creating dataset vars

In [66]:
X = dataset.iloc[:,1:4]
X.head()

     TV  Podcast  Youtube
0  2301     3780     6920
1   445     3930     4510
2   172     4590     6930
3  1515     4130     5850
4  1808     1080     5840

In [67]:
y = dataset['Sales']

In [68]:
X_train,X_test,y_train,y_test = train_test_split(X,y)

### creating and fitting model for prediction

In [69]:
lin = LinearRegression()
lin.fit(X_train,y_train)
y_pred = lin.predict(X_test)

### Creating coefficients

In [71]:
coef = lin.coef_
components = pd.DataFrame(zip(X.columns,coef),columns=['component','value'])
components = components.append({'component':'intercept', 'value':lin.intercept_},ignore_index=True)

In [73]:
coef

array([7.46661709, 5.24362496, 0.20408973])

In [72]:
components

   component         value
0         TV      7.466617
1    Podcast      5.243625
2    Youtube      0.204090
3  intercept  20211.577745

### Estimations: For every unit or doller of TV investment we are expected to get 7 dollers 46 cents return as we go down to YouTube the return is low on every doller investment